@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
body{
    background-color: #fff;
}
#logo-container, #hover-logo{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
}
#hover-logo{
    transition: transform 0.3s ease;
    width: auto;
}
#hover-logo:hover{
    transform: scale(1.12);
}
#text-logo{
    margin-top: auto;
    margin-bottom: auto;
}
#text-logo p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #9f0fb6;
}

* {
    margin: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width:100%;
    height: 40px;
    background-color: #fff;
}
#navbar{
    position: sticky;
    top: 0;
    z-index: 10;
}
ul{
    display:flex;
    width: 95%;
    align-items:center;
    background-color: #fff;
}
ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    list-style-type: none;
    margin-right: 30px;
    font-family: Montserrat;
    width: auto;
    height: 25px;
    transition: transform 0.4s ease;
}
ul li span{
    background-color: #fff;
    margin-right: 2px;
}
li:hover {
    cursor: pointer;
    transform: scale(1.07);
    color: #9f0fb6;
}

#productos-section{
    padding: 10px;
    padding-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
}
h3{
    align-self: flex-start;
    font-family: Montserrat;
    margin: 5px;
    font-size: 20px;
}
.products{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}
.producto{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 2px #d00ea9;
    transition: transform 0.4s ease-in;
}
.producto-img{
    width: 220px;
}
.producto-nombre{
    margin-bottom: 5px;
}
.producto-precio{
    color: #2ecc71;
}
.producto:hover{
    transform: scale(1.05);
}
